.linear-text-gradient {
    display: inline-block;
    background: linear-gradient(to bottom, var(--anim-1), var(--anim-2));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% 200%;
    animation: gradient 2s linear infinite alternate-reverse;
}

@keyframes gradient {
    from {
        background-position: top;
    }

    to {
        background-position: bottom;
    }
}

@media (prefers-reduced-motion) {
    .social svg:hover {
        transform: none;
    }

    nav a:hover {
        transform: none;
    }
}