:root {
    --page-width: 720px;
    --page-margin: 20px;


    --color-dark-green: hsl(134, 80%, 11%);
    --color-secondary: hsl(8, 74%, 62%);
    --color-tertiary: hsl(29, 74%, 62%);
    --color-gray: hsl(30, 6%, 38%);

    --background-color: hsl(29 77% 98%);


    /*
 --color-primary: #056C4C;
    --color-secondary: #665A53;
    --color-tertiary: #E69D70;

        --color-primary: #083818;
    --color-secondary: #88B898;
    --color-tertiary: #B88376;

    #380821
    #381911
    */

    --color-accent: var(--color-secondary);
    --color-accent-dark: var(--color-tertiary);

    --color-black: hsl(140 80% 5%);
    --color-black-light: hsl(140 80% 10%);
    --color-white: hsl(328 100% 99.5%);

    --text-color: hsl(140, 80%, 15%);


    --link-color: var(--color-accent);
    --link-color-hover: var(--color-accent-dark);

    --footer-background-color: var(--background-color);
    --footer-text-color: var(--text-color);

    --font-display: 'Josefin Sans', sans-serif;
    --font-body: 'Cardo', serif;
    --font-size: 1.4rem;

}


.sec {
    color: var(--color-secondary);
}

.ter {
    color: var(--color-tertiary);
}

.white {
    color: var(--background-color);
}


.bg-pri {
    background-color: var(--color-primary);
}

.bg-sec {
    background-color: var(--color-secondary);
}

.bg-ter {
    background-color: var(--color-tertiary);
}






body {
    accent-color: var(--color-accent);
    overscroll-behavior: none;
    color: var(--text-color);
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100dvh;
    background-color: var(--background-color);
    font-size: var(--font-size);
    font-family: var(--font-body);
    font-weight: 400;
    letter-spacing: -0.02rem;
    line-height: 1.4;
}

main {
    padding-block-start: 2rem;
    padding-block-end: 5rem;
}

li {
    list-style: none;
}

a {
    color: var(--link-color);
}

a.back {
    font-size: calc(var(--font-size) + 0.4rem);
    font-weight: 700;
    float: inline-end;
    padding-block-start: 2rem;
    font-family: var(--font-display)
}

a:hover {
    color: var(--link-color-hover);
}

h1,
h2 {
    font-family: var(--font-display);
}

h1 {
    font-size: 4rem;
    padding-block-start: 2rem;
    padding-block-end: 1.5rem;
    line-height: 1.1;
    color: var(--color-tertiary);
}

h2 {
    font-size: 3rem;
    padding-block-start: 2rem;
    padding-block-end: 0.5rem;
    line-height: 1.1;
}

h1+h2 {
    padding-block-start: 0rem;
    color: var(--color-tertiary);

}

.posts {
    padding-block: 2rem;
}

.posts h2 {
    font-size: 2rem;
    padding-block: 0rem;
}

p+p {
    padding-block-start: 0.5rem;
}

footer {
    --text-color: var(--footer-text-color);
    --background-color: var(--footer-background-color);

    background-color: var(--background-color);
    color: var(--text-color);
    padding-block: 0.5rem;
    font-family: var(--font-display);
    font-size: 1rem;
}

.wrapper {
    padding-inline: var(--page-margin);
    max-width: var(--page-width);
    margin: 0 auto;
}


footer .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

footer .cc {
    color: var(--text-color);
    text-decoration: none;
}

@media (max-width: 600px) {

    footer .wrapper {
        justify-content: center;
    }

    footer .edited {
        display: none;
    }
}

footer .name {
    font-weight: 700;
}